<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sichu.mapper.FundPositionMapper">
    <resultMap id="resultMap" type="cn.sichu.entity.FundPosition">
        <id property="id" column="id"/>
        <result property="code" column="code"/>
        <result property="transactionDate" column="transaction_date"/>
        <result property="initiationDate" column="initiation_date"/>
        <result property="redemptionDate" column="redemption_date"/>
        <result property="totalPrincipalAmount" column="total_principal_amount"/>
        <result property="totalAmount" column="total_amount"/>
        <result property="totalPurchaseFee" column="total_purchase_fee"/>
        <result property="totalRedemptionFee" column="total_redemption_fee"/>
        <result property="heldShare" column="held_share"/>
        <result property="heldDays" column="held_days"/>
        <result property="updateDate" column="update_date"/>
        <result property="tradingPlatform" column="trading_platform"/>
        <result property="status" column="status"/>
        <result property="mark" column="mark"/>
    </resultMap>

    <insert id="insertFundPosition" useGeneratedKeys="true" keyProperty="id">
        insert into fund_position
        (code, transaction_date, initiation_date, redemption_date, total_principal_amount, total_amount, total_purchase_fee,
        total_redemption_fee, held_share, held_days, update_date, trading_platform, status, mark)
        select
        #{code}, #{transactionDate}, #{initiationDate}, #{redemptionDate}, #{totalPrincipalAmount}, #{totalAmount}, #{totalPurchaseFee},
        #{totalRedemptionFee}, #{heldShare}, #{heldDays}, #{updateDate}, #{tradingPlatform}, #{status}, #{mark}
        from dual
        where not exists (
        select total_principal_amount, total_amount, total_purchase_fee, total_redemption_fee, held_share, mark
        from fund_position
        where code = #{code} and transaction_date = #{transactionDate} and initiation_date = #{initiationDate} and redemption_date =
        #{redemptionDate} and total_principal_amount = #{totalPrincipalAmount} and total_amount = #{totalAmount} and total_purchase_fee =
        #{totalPurchaseFee} and total_redemption_fee = #{totalRedemptionFee} and held_share = #{heldShare} and mark = #{mark}
        )
    </insert>

    <delete id="deleteFundPosition">
        delete from fund_position
        where id = #{id}
    </delete>

    <select id="selectAllFundPositionByStatus" resultType="cn.sichu.entity.FundPosition" resultMap="resultMap">
        select
        code, transaction_date, initiation_date, redemption_date, total_principal_amount, total_amount, total_purchase_fee,
        total_redemption_fee, held_share, mark, held_days, update_date, trading_platform, status, mark
        from fund_position
        <where>
            <if test="status != null">and status = #{status}</if>
        </where>
    </select>

    <select id="selectAllFundPositionWithNullMark" resultType="cn.sichu.entity.FundPosition" resultMap="resultMap">
        select
        code, transaction_date, initiation_date, total_principal_amount, total_purchase_fee, total_amount, held_share, held_days, update_date,
        trading_platform
        from fund_position
        where mark is null
    </select>

    <select id="selectAllFundPositionWithNullMarkAndNotNullTotalAmount" resultType="cn.sichu.entity.FundPosition" resultMap="resultMap">
        select
        code, transaction_date, total_principal_amount, total_purchase_fee, total_amount, held_share, mark
        from fund_position
        where mark is null and total_amount != null
    </select>

    <select id="selectFundPositionWithNullMarkByCode" resultType="cn.sichu.entity.FundPosition" resultMap="resultMap">
        select
        id, code, transaction_date, initiation_date, redemption_date, total_principal_amount, total_amount, total_purchase_fee,
        total_redemption_fee, held_share, held_days, update_date, trading_platform, status, mark
        from fund_position
        <where>
            <if test="code != null and code != ''">and code = #{code}</if>
            and mark is null
        </where>
        order by transaction_date, held_share
    </select>

    <select id="selectFundPositionByCodeAndAfterTransactionDate" resultType="cn.sichu.entity.FundPosition" resultMap="resultMap">
        select
        code, transaction_date, initiation_date, total_principal_amount, total_amount, total_purchase_fee, held_share, held_days, update_date
        from fund_position
        <where>
            <if test="code != null and code != ''">and code = #{code}</if>
            <if test="transactionDate != null">and transaction_date &gt; #{transactionDate}</if>
            and mark is null
        </where>
        order by transaction_date asc
    </select>


    <select id="selectLastFundPosition" resultType="cn.sichu.entity.FundPosition" resultMap="resultMap">
        select code, total_principal_amount, total_amount, total_purchase_fee, held_share
        from (
        select code, total_principal_amount, total_amount, total_purchase_fee, held_share,
        row_number() over (partition by code order by held_share desc) as rn
        from fund_position
        <where>
            <if test="code != null and code != ''">and code = #{code}</if>
            <if test="transactionDate != null">and transaction_date <![CDATA[<=]]> #{transactionDate}</if>
            and mark is null
        </where>
        ) temp
        where rn = 1
    </select>

    <select id="selectAllFundPositionByConditionsOrderByTransactionDate" resultType="cn.sichu.entity.FundPosition" resultMap="resultMap">
        select
        id, code, transaction_date, initiation_date, total_principal_amount, total_amount, total_purchase_fee, held_share, held_days, update_date
        from fund_position
        where code = #{code} and held_days <![CDATA[<=]]> #{heldDays} and initiation_date <![CDATA[<=]]> #{endDate}
        order by transaction_date asc
    </select>

    <select id="selectFundPositionWithMaxHeldShareByConditions" resultType="cn.sichu.entity.FundPosition" resultMap="resultMap">
        select
        max(held_share) as held_share
        from fund_position
        <where>
            <if test="code != null and code != ''">and code = #{code}</if>
            and status == 1
            and mark is null
        </where>
    </select>

    <select id="selectFundPositionByPurchaseTransaction" resultType="cn.sichu.entity.FundPosition" resultMap="resultMap">
        select
        code, transaction_date, total_amount, held_share
        from fund_position
        <where>
            <if test="code != null and code != ''">and code = #{code}</if>
            <if test="transactionDate != null">and transaction_date = #{transactionDate}</if>
            and (mark is null or mark = '')
        </where>
    </select>

    <select id="selectAllFundPositionWithNullTotalAmountAndTotalRedemptionFee"
            resultType="cn.sichu.entity.FundPosition" resultMap="resultMap">
        select
        code, transaction_date, initiation_date, total_principal_amount, total_amount, total_purchase_fee, total_redemption_fee, held_share,
        held_days, update_date, trading_platform, status, mark
        from fund_position
        where total_amount is null and total_redemption_fee is null and mark != null and mark != ''
        order by code asc
    </select>

    <update id="updateStatus">
        update fund_position
        <set>
            <if test="status != null">status = #{status},</if>
        </set>
        where code = #{code} and transaction_date = #{transactionDate} and held_share = #{heldShare}
    </update>

    <update id="updateHeldDaysAndUpdateDate">
        update fund_position
        <set>
            <if test="heldDays != null">held_days = #{heldDays},</if>
            <if test="updateDate != null">update_date = #{updateDate},</if>
        </set>
        where code = #{code} and transaction_date = #{transactionDate} and initiation_date = #{initiationDate} and
        total_principal_amount = #{totalPrincipalAmount} and total_purchase_fee = #{totalPurchaseFee} and held_share = #{heldShare} and
        trading_platform = #{tradingPlatform}
    </update>

    <update id="updateTotalPrincipalAmountAndTotalPurchaseFeeAndHeldShareAndTotalAmount">
        update fund_position
        <set>
            <if test="totalPrincipalAmount != null">total_principal_amount = #{totalPrincipalAmount},</if>
            <if test="totalPurchaseFee != null">total_purchase_fee = #{totalPurchaseFee},</if>
            <if test="heldShare != null">held_share = #{heldShare},</if>
            <if test="totalAmount != null">total_amount = #{totalAmount},</if>
        </set>
        where code = #{code} and transaction_date = #{transactionDate} and initiation_date = #{initiationDate} and mark is null
    </update>

    <update id="updateWhenRedeemFund">
        update fund_position
        <set>
            <if test="redemptionDate != null">redemption_date = #{redemptionDate},</if>
            <if test="status != null">status = #{status},</if>
            <if test="mark != null and mark != ''">mark = #{mark},</if>
            <if test="totalRedemptionFee != null">total_redemption_fee = #{totalRedemptionFee},</if>
            <if test="totalAmount != null">total_amount = #{totalAmount},</if>
        </set>
        where id = #{id}
    </update>

    <update id="updateRemainingFundPosition">
        update fund_position
        <set>
            <if test="totalPrincipalAmount != null">total_principal_amount = #{totalPrincipalAmount},</if>
            <if test="heldShare != null">held_share = #{heldShare},</if>
            <if test="totalAmount != null">total_amount = #{totalAmount},</if>
            <if test="totalPurchaseFee != null">total_purchase_fee = #{totalPurchaseFee},</if>
        </set>
        where id = #{id}
    </update>

    <update id="updateTotalAmount">
        update fund_position
        <set>
            <if test="totalAmount != null">total_amount = #{totalAmount},</if>
        </set>
        where code = #{code} and transaction_date = #{transactionDate} and (mark is null or mark = '')
    </update>

    <update id="updateTotalRedemptionFeeAndTotalAmount">
        update fund_position
        <set>
            <if test="totalRedemptionFee != null">total_redemption_fee = #{totalRedemptionFee},</if>
            <if test="totalAmount != null">total_amount = #{totalAmount},</if>
        </set>
        where code = #{code} and transaction_date = #{transactionDate} and initiation_date = #{initiationDate}
    </update>
</mapper>