<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sichu.mapper.FundTransactionStatementSheetMapper">
    <resultMap id="fundTransactionResultMap" type="cn.sichu.entity.FundTransaction">
        <id property="id" column="id"/>
        <result property="code" column="code"/>
        <result property="applicationDate" column="application_date"/>
        <result property="transactionDate" column="transaction_date"/>
        <result property="confirmationDate" column="confirmation_date"/>
        <result property="settlementDate" column="settlement_date"/>
        <result property="amount" column="amount"/>
        <result property="fee" column="fee"/>
        <result property="nav" column="nav"/>
        <result property="share" column="share"/>
        <result property="tradingPlatform" column="trading_platform"/>
        <result property="status" column="status"/>
        <result property="mark" column="mark"/>
        <result property="type" column="type"/>
    </resultMap>

    <resultMap id="fundInformationResultMap" type="cn.sichu.entity.FundInformation">
        <id property="id" column="id"/>
        <result property="code" column="code"/>
        <result property="shortName" column="short_name"/>
        <result property="fullName" column="full_name"/>
        <result property="companyName" column="company_name"/>
        <result property="purchaseConfirmationProcess" column="purchase_confirmation_process"/>
        <result property="redemptionConfirmationProcess" column="redemption_confirmation_process"/>
        <result property="redemptionSettlementProcess" column="redemption_settlement_process"/>
    </resultMap>

    <resultMap id="fundPositionResultMap" type="cn.sichu.entity.FundPosition">
        <id property="id" column="id"/>
        <result property="code" column="code"/>
        <result property="transactionDate" column="transaction_date"/>
        <result property="initiationDate" column="initiation_date"/>
        <result property="totalPrincipalAmount" column="total_principal_amount"/>
        <result property="totalAmount" column="total_amount"/>
        <result property="totalPurchaseFee" column="total_purchase_fee"/>
        <result property="heldShare" column="held_share"/>
        <result property="heldDays" column="held_days"/>
        <result property="updateDate" column="update_date"/>
    </resultMap>

    <resultMap id="fundHistoryPositionResultMap" type="cn.sichu.entity.FundHistoryPosition">
        <id property="id" column="id"/>
        <result property="code" column="code"/>
        <result property="transactionDate" column="transaction_date"/>
        <result property="initiationDate" column="initiation_date"/>
        <result property="redemptionDate" column="redemption_date"/>
        <result property="totalPrincipalAmount" column="total_principal_amount"/>
        <result property="totalAmount" column="total_amount"/>
        <result property="totalPurchaseFee" column="total_purchase_fee"/>
        <result property="totalRedemptionFee" column="total_redemption_fee"/>
        <result property="heldShare" column="held_share"/>
        <result property="heldDays" column="held_days"/>
        <result property="mark" column="mark"/>
    </resultMap>

    <select id="selectAllFundTransaction" resultType="cn.sichu.entity.FundTransaction" resultMap="fundTransactionResultMap">
        select
        code, application_date, transaction_date, confirmation_date, settlement_date, amount, fee, nav, share,
        trading_platform, status, mark, type
        from fund_transaction
        order by code, transaction_date
    </select>

    <select id="selectFundInformationByCode" resultType="cn.sichu.entity.FundInformation" resultMap="fundInformationResultMap">
        select short_name, full_name, company_name
        from fund_information
        <where>
            <if test="code != null and code != ''">and code = #{code}</if>
        </where>
    </select>

    <select id="selectFundPositionByConditions" resultType="cn.sichu.entity.FundPosition" resultMap="fundPositionResultMap">
        select
        code, transaction_date, initiation_date, total_principal_amount, total_amount, total_purchase_fee, held_share, held_days, update_date
        from fund_position
        <where>
            <if test="code != null and code != ''">and code = #{code}</if>
            <if test="transactionDate != null">and transaction_date = #{transactionDate}</if>
        </where>
    </select>

    <select id="selectFundHistoryPositionByConditions" resultType="cn.sichu.entity.FundHistoryPosition" resultMap="fundHistoryPositionResultMap">
        select
        code, transaction_date, initiation_date, redemption_date, total_principal_amount, total_amount, total_purchase_fee,
        total_redemption_fee, held_share, held_days, mark
        from fund_history_position
        <where>
            <if test="code != null and code != ''">and code = #{code}</if>
            <if test="transactionDate != null">and transaction_date = #{transactionDate}</if>
        </where>
    </select>
</mapper>