<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sichu.mapper.FundPurchaseFeeRateMapper">
    <resultMap id="resultMap" type="cn.sichu.entity.FundPurchaseFeeRate">
        <id property="id" column="id"/>
        <result property="code" column="code"/>
        <result property="feeRateChangeAmount" column="purchase_fee_rate_change_amount"/>
        <result property="feeRate" column="purchase_fee_rate"/>
        <result property="tradingPlatform" column="trading_platform"/>
    </resultMap>

    <select id="selectFundPurchaseFeeRateByConditions" resultType="cn.sichu.entity.FundPurchaseFeeRate"
            resultMap="resultMap">
        select purchase_fee_rate_change_amount, purchase_fee_rate
        from fund_purchase_fee_rate
        <where>
            <if test="code != null and code != ''">and code = #{code}</if>
            <if test="tradingPlatform != null and tradingPlatform != ''">and trading_platform = #{tradingPlatform}</if>
        </where>
        order by purchase_fee_rate_change_amount
    </select>
</mapper>