<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sichu.mapper.FundPositionMapper">
    <resultMap id="resultMap" type="cn.sichu.entity.FundPosition">
        <id property="id" column="id"/>
        <result property="code" column="code"/>
        <result property="transactionDate" column="transaction_date"/>
        <result property="initiationDate" column="initiation_date"/>
        <result property="totalAmount" column="total_amount"/>
        <result property="totalPurchaseFee" column="total_purchase_fee"/>
        <result property="heldShare" column="held_share"/>
        <result property="heldDays" column="held_days"/>
        <result property="updateDate" column="update_date"/>
    </resultMap>


    <select id="selectAllFundPositionByCode" resultType="cn.sichu.entity.FundPosition" resultMap="resultMap">
        select code, transaction_date, initiation_date, total_amount, total_purchase_fee, held_share, held_days,
        update_date
        from fund_position
        where code = #{code}
    </select>

    <select id="selectLastFunPositionByCode" resultType="cn.sichu.entity.FundPosition" resultMap="resultMap">
        select code, total_amount, total_purchase_fee, held_share
        from (
        select code, total_amount, total_purchase_fee, held_share,
        row_number() over (partition by code order by held_share desc) as rn
        from fund_position
        where code = #{code}
        ) tmp
        where rn = 1
    </select>

    <select id="selectallFundPosition" resultType="cn.sichu.entity.FundPosition" resultMap="resultMap">
        select code, transaction_date, initiation_date, total_amount, total_purchase_fee, held_share, held_days,
        update_date
        from fund_position
    </select>

    <insert id="insertFundPosition" useGeneratedKeys="true" keyProperty="id">
        insert into fund_position
        (code, transaction_date, initiation_date, total_amount, total_purchase_fee, held_share, held_days, update_date)
        select
        #{code}, #{transactionDate}, #{initiationDate}, #{totalAmount}, #{totalPurchaseFee}, #{heldShare},
        #{heldDays}, #{updateDate}
        from dual
        where not exists (
        select total_amount, total_purchase_fee, held_share
        from fund_position
        where code = #{code} and transaction_date = #{transactionDate} and initiation_date = #{initiationDate} and
        total_amount = #{totalAmount} and total_purchase_fee = #{totalPurchaseFee} and held_share = #{heldShare}
        )
    </insert>

    <update id="updateHeldDaysAndUpdateDateForFundPosition">
        update fund_position
        <set>
            <if test="heldDays != null">held_days = #{heldDays},</if>
            <if test="updateDate != null">update_date = #{updateDate},</if>
        </set>
        where code = #{code} and transaction_date = #{transactionDate} and initiation_date = #{initiationDate} and
        total_amount = #{totalAmount} and total_purchase_fee = #{totalPurchaseFee} and held_share = #{heldShare}
    </update>
</mapper>