<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sichu.mapper.FundInformationMapper">
    <resultMap id="resultMap" type="cn.sichu.entity.FundInformation">
        <id property="id" column="id"/>
        <result property="code" column="code"/>
        <result property="shortName" column="short_name"/>
        <result property="fullName" column="full_name"/>
        <result property="companyName" column="company_name"/>
        <result property="purchaseConfirmationProcess" column="purchase_confirmation_process"/>
        <result property="redemptionConfirmationProcess" column="redemption_confirmation_process"/>
        <result property="redemptionSettlementProcess" column="redemption_settlement_process"/>
        <result property="purchaseFeeRate" column="purchase_fee_rate"/>
    </resultMap>


    <select id="selectFundShortNameByCode" resultType="cn.sichu.entity.FundInformation"
            resultMap="resultMap">
        select code, short_name
        from fund_information
        <where>
            <if test="code != null and code != ''">and code = #{code}</if>
        </where>
    </select>

    <select id="selectFundTransactionProcessByCode" resultType="cn.sichu.entity.FundInformation" resultMap="resultMap">
        select code, purchase_confirmation_process, redemption_confirmation_process, redemption_settlement_process
        from fund_information
        <where>
            <if test="code != null and code != ''">and code = #{code}</if>
        </where>
    </select>

    <select id="selectFundPurchaseFeeRateByCode" resultType="cn.sichu.entity.FundInformation" resultMap="resultMap">
        select
        code, purchase_fee_rate
        from fund_information
        <where>
            <if test="code != null and code != ''">and code = #{code}</if>
        </where>
    </select>
</mapper>