<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sichu.mapper.FundTransactionMapper">
    <resultMap id="resultMap" type="cn.sichu.entity.FundTransaction">
        <id property="id" column="id"/>
        <result property="code" column="code"/>
        <result property="applicationDate" column="application_date"/>
        <result property="transactionDate" column="transaction_date"/>
        <result property="confirmationDate" column="confirmation_date"/>
        <result property="settlementDate" column="settlement_date"/>
        <result property="amount" column="amount"/>
        <result property="fee" column="fee"/>
        <result property="nav" column="nav"/>
        <result property="share" column="share"/>
        <result property="tradingPlatform" column="trading_platform"/>
        <result property="status" column="status"/>
        <result property="mark" column="mark"/>
        <result property="type" column="type"/>
    </resultMap>

    <select id="selectAllFundTransactions" resultType="cn.sichu.entity.FundTransaction" resultMap="resultMap">
        select
        code, application_date, transaction_date, confirmation_date, settlement_date, amount, fee, nav, share,
        trading_platform, status, mark, type
        from fund_transaction
        order by code, transaction_date
    </select>

    <select id="selectPurchaseTransactionsFromFundTransactions" resultType="cn.sichu.entity.FundTransaction"
            resultMap="resultMap">
        select
        code, application_date, transaction_date, confirmation_date, settlement_date, amount, fee, nav, share,
        trading_platform, status, mark, type
        from fund_transaction
        where type = 0
        order by code, transaction_date
    </select>

    <insert id="insertFundTransaction" useGeneratedKeys="true" keyProperty="id">
        insert into fund_transaction
        (code, application_date, transaction_date, confirmation_date, settlement_date, amount, fee, nav,
        share, trading_platform, status, mark, type)
        values
        (#{code}, #{applicationDate}, #{transactionDate}, #{confirmationDate}, #{settlementDate},
        #{amount}, #{fee}, #{nav}, #{share}, #{tradingPlatform}, #{status}, #{mark}, #{type})
    </insert>

    <update id="updateNavAndShareForFundTransaction">
        update fund_transaction
        <set>
            <if test="nav != null">nav = #{nav},</if>
            <if test="share != null">share = #{share},</if>
        </set>
        where code = #{code} and transaction_date = #{transactionDate}
    </update>

    <update id="updateStatusForFundTransaction">
        update fund_transaction
        <set>
            <if test="status != null">status = #{status},</if>
        </set>
        where code = #{code} and transaction_date = #{transactionDate}
    </update>
</mapper>