<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sichu.mapper.FundHistoryNavMapper">
    <resultMap id="resultMap" type="cn.sichu.entity.FundHistoryNav">
        <id property="id" column="id"/>
        <result property="code" column="code"/>
        <result property="navDate" column="nav_date"/>
        <result property="nav" column="nav"/>
    </resultMap>

    <insert id="insertFundHistoryNav" useGeneratedKeys="true" keyProperty="id">
        insert into fund_history_nav
        (code, nav_date, nav)
        select #{code}, #{navDate}, #{nav}
        from dual
        where not exists (
        select code, nav_date, nav
        from fund_history_nav
        where code = #{code} and nav_date = #{navDate} and nav = #{nav}
        )
    </insert>

    <select id="selectFundHistoryNavByConditions" resultType="cn.sichu.entity.FundHistoryNav" resultMap="resultMap">
        select code, nav_date, nav
        from fund_history_nav
        <where>
            <if test="code != null and code != ''">and code = #{code}</if>
            <if test="navDate != null">and nav_date = #{navDate}</if>
        </where>
    </select>

    <select id="selectLastHistoryNav" resultType="cn.sichu.entity.FundHistoryNav" resultMap="resultMap">
        select code, nav_date, nav
        from fund_history_nav
        <where>
            <if test="code != null and code != ''">and code = #{code}</if>
        </where>
        order by nav_date desc
        limit 1
    </select>

</mapper>