<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sichu.mapper.FundEastmoneyJjjzMapper">
    <resultMap id="resultMap" type="cn.sichu.entity.FundEastmoneyJjjz">
        <id property="id" column="id"/>
        <result property="code" column="code"/>
        <result property="callback" column="callback"/>
    </resultMap>

    <select id="selectCallbackByCode" resultType="cn.sichu.entity.FundEastmoneyJjjz" resultMap="resultMap">
        select code, callback
        from fund_eastmoney_jjjz
        where code = #{code}
    </select>

</mapper>