<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sichu.mapper.FundHistoryNavMapper">
    <resultMap id="resultMap" type="cn.sichu.entity.FundHistoryNav">
        <id property="id" column="id"/>
        <result property="code" column="code"/>
        <result property="navDate" column="nav_date"/>
        <result property="nav" column="nav"/>
    </resultMap>

    <insert id="insertFundHistoryNav" useGeneratedKeys="true" keyProperty="id">
        insert into fund_history_nav
        (code, nav_date, nav)
        select #{code}, #{navDate}, #{nav}
        from dual
        where not exists (
        select nav_date
        from fund_history_nav
        where code = #{code} and nav_date = #{navDate}
        )
    </insert>

    <select id="selectFundHistoryNavByConditions" resultType="cn.sichu.entity.FundHistoryNav" resultMap="resultMap">
        select code, nav_date, nav
        from fund_history_nav
        <where>
            <if test="code != null and code != ''">and code = #{code}</if>
            <if test="navDate != null">and nav_date = #{navDate}</if>
        </where>
    </select>

    <select id="selectLastFundHistoryNavDateByCode" resultType="cn.sichu.entity.FundHistoryNav"
            resultMap="resultMap">
        select code, nav_date, nav
        from fund_history_nav
        <where>
            <if test="code != null and code != ''">and code = #{code}</if>
        </where>
        order by nav_date desc
        limit 1
    </select>

    <select id="selectLastFundHistoryNavDateAndNav" resultType="cn.sichu.entity.FundHistoryNav" resultMap="resultMap">
        select t1.code, t2.nav_date, t1.nav
        from fund_history_nav t1
        inner join
        (
        select code, max(nav_date) as nav_date
        from fund_history_nav
        group by code
        order by nav_date
        ) t2
        on t1.code = t2.code and t1.nav_date = t2.nav_date
    </select>

    <select id="selectAllCode" resultType="java.lang.String" resultMap="resultMap">
        select distinct code
        from fund_history_nav
    </select>

</mapper>