<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sichu.mapper.FundTransactionMapper">
    <resultMap id="resultMap" type="cn.sichu.entity.FundTransaction">
        <id property="id" column="id"/>
        <result property="code" column="code"/>
        <result property="shortName" column="short_name"/>
        <result property="applicationDate" column="application_date"/>
        <result property="transactionDate" column="transaction_date"/>
        <result property="confirmationDate" column="confirmation_date"/>
        <result property="settlementDate" column="settlement_date"/>
        <result property="fee" column="fee"/>
        <result property="share" column="share"/>
        <result property="nav" column="nav"/>
        <result property="amount" column="amount"/>
        <result property="type" column="type"/>
        <result property="tradingPlatform" column="trading_platform"/>
        <result property="status" column="status"/>
    </resultMap>

    <select id="selectAllFundTransactions" resultType="cn.sichu.entity.FundTransaction" resultMap="resultMap">
        select
        code, short_name, application_date, transaction_date, confirmation_date, settlement_date,
        fee, share, nav, amount, type, trading_platform, status
        from fund_transaction
        order by transaction_date
    </select>

    <!--  TODO: 传全参+<if test>  -->
    <insert id="insertFundTransaction" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO fund_transaction
        (code, short_name, application_date, transaction_date, confirmation_date, settlement_date, fee, share, nav,
        amount, type, trading_platform, status)
        VALUES(#{code}, #{shortName}, #{applicationDate}, #{transactionDate}, #{confirmationDate}, #{settlementDate},
        #{fee}, #{share}, #{nav}, #{amount}, #{type}, #{tradingPlatform}, #{status})
    </insert>

    <update id="updateNavAndShareForFundPurchaseTransaction">
        update fund_transaction
        <set>
            <if test="share != null and share != ''">share = #{share},</if>
            <if test="nav != null and nav != ''">nav = #{nav},</if>
        </set>
        where code = #{code} and transaction_date = #{transactionDate}
    </update>
</mapper>