<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sichu.mapper.FundHistoryPositionMapper">
    <resultMap id="resultMap" type="cn.sichu.entity.FundHistoryPosition">
        <id property="id" column="id"/>
        <result property="code" column="code"/>
        <result property="transactionDate" column="transaction_date"/>
        <result property="initiationDate" column="initiation_date"/>
        <result property="redemptionDate" column="redemption_date"/>
        <result property="totalPrincipalAmount" column="total_principal_amount"/>
        <result property="totalAmount" column="total_amount"/>
        <result property="totalPurchaseFee" column="total_purchase_fee"/>
        <result property="totalRedemptionFee" column="total_redemption_fee"/>
        <result property="heldShare" column="held_share"/>
        <result property="heldDays" column="held_days"/>
        <result property="mark" column="mark"/>
    </resultMap>

    <insert id="insertFundHistoryPosition" useGeneratedKeys="true" keyProperty="id">
        insert into fund_history_position
        (code, transaction_date, initiation_date, redemption_date, total_principal_amount, total_amount, total_purchase_fee,
        total_redemption_fee, held_share, held_days, mark)
        select
        #{code}, #{transactionDate}, #{initiationDate}, #{redemptionDate}, #{totalPrincipalAmount}, #{totalAmount}, #{totalPurchaseFee},
        #{totalRedemptionFee}, #{heldShare}, #{heldDays}, #{mark}
        from dual
        where not exists (
        select total_principal_amount, total_amount, total_purchase_fee, total_redemption_fee, held_share
        from fund_history_position
        where code = #{code} and transaction_date = #{transactionDate} and initiation_date = #{initiationDate} and total_principal_amount =
        #{totalPrincipalAmount} and total_amount = #{totalAmount} and total_purchase_fee = #{totalPurchaseFee} and total_redemption_fee =
        #{totalRedemptionFee} and held_share = #{heldShare}
        )
    </insert>

</mapper>