<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sichu.mapper.FundTransactionMapper">
    <resultMap id="resultMap" type="cn.sichu.entity.FundTransaction">
        <id property="id" column="id"/>
        <result property="code" column="code"/>
        <result property="applicationDate" column="application_date"/>
        <result property="transactionDate" column="transaction_date"/>
        <result property="confirmationDate" column="confirmation_date"/>
        <result property="settlementDate" column="settlement_date"/>
        <result property="amount" column="amount"/>
        <result property="fee" column="fee"/>
        <result property="nav" column="nav"/>
        <result property="share" column="share"/>
        <result property="dividendAmountPerShare" column="dividend_amount_per_share"/>
        <result property="tradingPlatform" column="trading_platform"/>
        <result property="status" column="status"/>
        <result property="mark" column="mark"/>
        <result property="type" column="type"/>
    </resultMap>

    <insert id="insertFundTransaction" useGeneratedKeys="true" keyProperty="id">
        insert into fund_transaction
        (code, application_date, transaction_date, confirmation_date, settlement_date, amount, fee, nav,
        share, dividend_amount_per_share, trading_platform, status, mark, type)
        values
        (#{code}, #{applicationDate}, #{transactionDate}, #{confirmationDate}, #{settlementDate}, #{amount},
        #{fee}, #{nav}, #{share}, #{dividendAmountPerShare}, #{tradingPlatform}, #{status}, #{mark}, #{type})
    </insert>

    <select id="selectAllCode" resultType="cn.sichu.entity.FundTransaction" resultMap="resultMap">
        select distinct code
        from fund_transaction
    </select>

    <select id="selectAllHeldCode" resultType="cn.sichu.entity.FundTransaction" resultMap="resultMap">
        select distinct code
        from fund_transaction
        where status <![CDATA[<]]> 4 and (mark is null or mark = '')
    </select>

    <select id="selectAllFundTransactionInTransit" resultType="cn.sichu.entity.FundTransaction">
        select
        code, application_date, transaction_date, confirmation_date, settlement_date, amount, fee, nav, share,
        dividend_amount_per_share, trading_platform, status, mark, type
        from fund_transaction
        <where>
            <if test="status1 != null and status2 != null">and status = #{status1} or status = #{status2}</if>
        </where>
    </select>

    <select id="selectAllPurchaseTransactionWithNullNavAndShare" resultType="cn.sichu.entity.FundTransaction"
            resultMap="resultMap">
        select
        code, application_date, transaction_date, confirmation_date, settlement_date, amount, fee, nav, share,
        trading_platform, status, mark, type
        from fund_transaction
        where
        (nav is null or nav = '') and
        (share is null or share = '') and
        type = #{type}
    </select>

    <select id="selectAllRedemptionFundTransactionWithNullAmountAndFeeAndNav" resultType="cn.sichu.entity.FundTransaction">
        select
        code, application_date, transaction_date, confirmation_date, settlement_date, amount, fee, nav, share, trading_platform, status, mark,
        type
        from fund_transaction
        where
        code = #{code} and
        transaction_date = #{redemptionDate} and
        amount is null and
        fee is null and
        nav is null and
        type = #{type}
    </select>

    <update id="updateStatus">
        update fund_transaction
        <set>
            <if test="status != null">status = #{status},</if>
        </set>
        where code = #{code} and transaction_date = #{transactionDate}
    </update>

    <update id="updateNavAndShare">
        update fund_transaction
        <set>
            <if test="nav != null">nav = #{nav},</if>
            <if test="share != null">share = #{share},</if>
        </set>
        where code = #{code} and transaction_date = #{transactionDate}
    </update>

    <update id="updateNavAndFeeAndAmount">
        update fund_transaction
        <set>
            <if test="nav != null">nav = #{nav},</if>
            <if test="fee != null">fee = #{fee},</if>
            <if test="amount != null">amount = #{amount},</if>
        </set>
        where code = #{code} and transaction_date = #{transactionDate}
    </update>

    <update id="updateMarkByConditions">
        update fund_transaction
        <set>
            <if test="mark != null and mark != ''">mark = #{mark}</if>
        </set>
        where code = #{code} and transaction_date between #{startDate} and #{endDate} and (mark is null or mark = '')
    </update>

</mapper>