<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sichu.mapper.FundTransactionReportSheetMapper">
    <resultMap id="fundTransactionResultMap" type="cn.sichu.entity.FundTransaction">
        <id property="id" column="id"/>
        <result property="code" column="code"/>
        <result property="applicationDate" column="application_date"/>
        <result property="transactionDate" column="transaction_date"/>
        <result property="confirmationDate" column="confirmation_date"/>
        <result property="settlementDate" column="settlement_date"/>
        <result property="amount" column="amount"/>
        <result property="fee" column="fee"/>
        <result property="nav" column="nav"/>
        <result property="share" column="share"/>
        <result property="dividendAmountPerShare" column="dividend_amount_per_share"/>
        <result property="tradingPlatform" column="trading_platform"/>
        <result property="status" column="status"/>
        <result property="mark" column="mark"/>
        <result property="type" column="type"/>
    </resultMap>

    <resultMap id="fundInformationResultMap" type="cn.sichu.entity.FundInformation">
        <id property="id" column="id"/>
        <result property="code" column="code"/>
        <result property="shortName" column="short_name"/>
        <result property="fullName" column="full_name"/>
        <result property="companyName" column="company_name"/>
        <result property="purchaseConfirmationProcess" column="purchase_confirmation_process"/>
        <result property="redemptionConfirmationProcess" column="redemption_confirmation_process"/>
        <result property="redemptionSettlementProcess" column="redemption_settlement_process"/>
    </resultMap>

    <resultMap id="fundPositionResultMap" type="cn.sichu.entity.FundPosition">
        <id property="id" column="id"/>
        <result property="code" column="code"/>
        <result property="transactionDate" column="transaction_date"/>
        <result property="initiationDate" column="initiation_date"/>
        <result property="redemptionDate" column="redemption_date"/>
        <result property="totalPrincipalAmount" column="total_principal_amount"/>
        <result property="totalAmount" column="total_amount"/>
        <result property="totalPurchaseFee" column="total_purchase_fee"/>
        <result property="totalRedemptionFee" column="total_redemption_fee"/>
        <result property="heldShare" column="held_share"/>
        <result property="heldDays" column="held_days"/>
        <result property="updateDate" column="update_date"/>
        <result property="tradingPlatform" column="trading_platform"/>
        <result property="status" column="status"/>
        <result property="mark" column="mark"/>
    </resultMap>

    <select id="selectAllFundPositionByConditions" resultType="cn.sichu.entity.FundPosition" resultMap="fundPositionResultMap">
        select
        code, transaction_date, redemption_date, total_principal_amount, total_amount, total_purchase_fee, total_redemption_fee,
        held_share, held_days
        from
        (
        select
        code, transaction_date, redemption_date, total_principal_amount, total_amount, total_purchase_fee, total_redemption_fee,
        held_share, held_days, mark,
        row_number() over (partition by substring_index(mark, '->', -1) order by held_share desc) as rn
        from fund_position
        ) as temp
        where rn = 1
        order by code, transaction_date, substring_index(temp.mark, '->', -1);
    </select>

    <select id="selectFundInformationByCode" resultType="cn.sichu.entity.FundInformation" resultMap="fundInformationResultMap">
        select short_name, full_name, company_name
        from fund_information
        <where>
            <if test="code != null and code != ''">and code = #{code}</if>
        </where>
    </select>

    <select id="selectAllDividendTransactionByConditions" resultType="cn.sichu.entity.FundTransaction" resultMap="fundTransactionResultMap">
        select
        code, transaction_date, amount
        from fund_transaction
        where type = #{type} and transacntion_date between #{startDate} and #{endDate}
        order by code, transaction_date, mark
    </select>
</mapper>