<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sichu.mapper.GoldPositionMapper">
    <resultMap id="resultMap" type="cn.sichu.entity.GoldPosition">
        <id property="id" column="id"/>
        <result property="purchaseTime" column="purchase_time"/>
        <result property="redemptionTime" column="redemption_time"/>
        <result property="totalGrams" column="total_grams"/>
        <result property="totalPrincipalAmount" column="total_principal_amount"/>
        <result property="totalAmount" column="total_amount"/>
        <result property="avgPricePerGram" column="avg_price_per_gram"/>
        <result property="heldDays" column="held_days"/>
        <result property="tradingPlatform" column="trading_platform"/>
        <result property="mark" column="mark"/>
    </resultMap>

    <insert id="insertGoldPosition" useGeneratedKeys="true" keyProperty="id">
        insert into gold_position
        (purchase_time, redemption_time, total_grams, total_principal_amount, total_amount,
        avg_price_per_gram, held_days, trading_platform, mark)
        values
        (#{purchaseTime}, #{redemptionTime}, #{totalGrams}, #{totalPrincipalAmount}, #{totalAmount},
        #{avgPricePerGram}, #{heldDays}, #{tradingPlatform}, #{mark})
    </insert>

    <select id="selectGoldPositionWithNullMark" resultType="cn.sichu.entity.GoldPosition" resultMap="resultMap">
        select
        id, purchase_time, redemption_time, total_grams, total_principal_amount,
        total_amount, avg_price_per_gram, held_days, trading_platform, mark
        from gold_position
        where mark is null or mark = ''
        order by purchase_time
    </select>

    <select id="selectGoldPositionAfterDateTime" resultType="cn.sichu.entity.GoldPosition" resultMap="resultMap">
        select
        id, purchase_time, redemption_time, total_grams, total_principal_amount,
        total_amount, avg_price_per_gram, held_days, trading_platform, mark
        from gold_position
        <where>
            <if test="purchaseTime != null">and purchase_time> #{purchaseTime}</if>
            <if test="tradingPlatform != null and tradingPlatform != ''">and trading_platform = #{tradingPlatform}</if>
            and (mark is null or mark = '')
        </where>
        order by purchase_time
    </select>

    <select id="selectLastGoldPosition" resultType="cn.sichu.entity.GoldPosition" resultMap="resultMap">
        select
        total_grams, total_principal_amount, total_amount, avg_price_per_gram, trading_platform
        from (
        select
        total_grams, total_principal_amount, total_amount, avg_price_per_gram, trading_platform,
        row_number() over (partition by trading_platform order by total_grams desc) as rn
        from gold_position
        <where>
            <if test="purchaseTime != null">and purchase_time <![CDATA[<=]]> #{purchaseTime}</if>
            <if test="tradingPlatform != null and tradingPlatform != ''">and trading_platform = #{tradingPlatform}</if>
            and (mark is null or mark = '')
        </where>
        ) temp
        where rn = 1
    </select>

    <update id="updateGoldPositionWhenPurchase">
        update gold_position
        <set>
            <if test="totalGrams != null">total_grams = #{totalGrams},</if>
            <if test="totalPrincipalAmount != null">total_principal_amount = #{totalPrincipalAmount},</if>
            <if test="totalAmount != null">total_amount = #{totalAmount},</if>
            <if test="avgPricePerGram != null">avg_price_per_gram = #{avgPricePerGram},</if>
        </set>
        where id = #{id} and (mark is null or mark = '')
    </update>

    <update id="updateGoldPositionWhenRedeem">
        update gold_position
        <set>
            <if test="redemptionTime != null">redemption_time = #{redemptionTime},</if>
            <if test="totalAmount != null">totals_amount = #{totalAmount},</if>
            <if test="mark != null and mark != ''">mark = #{mark},</if>
        </set>
        where id = #{id}
    </update>

    <update id="updateHeldDays">
        update gold_position
        <set>
            <if test="heldDays != null">held_days = #{heldDays},</if>
        </set>
        where id = #{id}
    </update>
</mapper>