<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sichu.mapper.GoldTransactionSummarySheetMapper">
    <resultMap id="transactionMap" type="cn.sichu.entity.GoldTransaction">
        <id property="id" column="id"/>
        <result property="pricePerGram" column="price_per_gram"/>
        <result property="grams" column="grams"/>
        <result property="type" column="type"/>
        <result property="transactionTime" column="transaction_time"/>
        <result property="tradingPlatform" column="trading_platform"/>
        <result property="mark" column="mark"/>
    </resultMap>

    <resultMap id="positionMap" type="cn.sichu.entity.GoldPosition">
        <id property="id" column="id"/>
        <result property="purchaseTime" column="purchase_time"/>
        <result property="redemptionTime" column="redemption_time"/>
        <result property="totalGrams" column="total_grams"/>
        <result property="totalPrincipalAmount" column="total_principal_amount"/>
        <result property="totalAmount" column="total_amount"/>
        <result property="avgPricePerGram" column="avg_price_per_gram"/>
        <result property="heldDays" column="held_days"/>
        <result property="tradingPlatform" column="trading_platform"/>
        <result property="mark" column="mark"/>
    </resultMap>

    <select id="selectAllGoldTransaction" resultType="cn.sichu.entity.GoldTransaction" resultMap="transactionMap">
        select
        price_per_gram, grams, type, transaction_time, trading_platform, mark
        from gold_transaction
        order by transaction_time
    </select>

    <select id="selectAllGoldPosition" resultType="cn.sichu.entity.GoldPosition" resultMap="positionMap">
        select
        purchase_time, redemption_time, total_grams, total_principal_amount, total_amount,
        avg_price_per_gram, held_days, trading_platform, mark
        from gold_position
        group by redemption_time
        order by purchase_time, redemption_time
    </select>
</mapper>