<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sichu.mapper.GoldTransactionMapper">
    <resultMap id="resultMap" type="cn.sichu.entity.GoldTransaction">
        <id property="id" column="id"/>
        <result property="pricePerGram" column="price_per_gram"/>
        <result property="grams" column="grams"/>
        <result property="type" column="type"/>
        <result property="transactionTime" column="transaction_time"/>
        <result property="tradingPlatform" column="trading_platform"/>
        <result property="mark" column="mark"/>
    </resultMap>

    <insert id="insertGoldTransaction" useGeneratedKeys="true" keyProperty="id">
        insert into gold_transaction
        (price_per_gram, grams, type, transaction_time, trading_platform, mark)
        values
        (#{pricePerGram}, #{grams}, #{type}, #{transactionTime}, #{tradingPlatform}, #{mark})
    </insert>
</mapper>